@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

#faq-header, #ride-history-header {
  margin: 5vh auto 0 auto;
}

#faq-container,
#membership-container,
#membership-card-container,
#welcome-button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#faq-about {
  margin-top: 5vh;
  text-align: left;
  color: green;
}

#membership-card-container {
  margin-top: 5vh;
}

.membership-card {
  display: flex;
  height: 120px;
  margin-top: 1vh;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 750;
}

.star {
  font-size: 60px;
}

.membership-button {
  background-color: rgb(148, 208, 179);
  border-style: none;
  color: black;
  width: 200px;
}

.membership-button:hover {
  background-color: gray;
}

#welcome-button-wrapper {
  margin-top: 20vh;
  align-items: center;
}

.welcome-button {
  width: 200px;
  margin-top: 7px;
  background-color: rgb(148, 208, 179);
  border-style: none;
  color: black;
  font-size: 15px;
  font-weight: 700;
}

#welcome-header {
  text-align: right;
  font-size: 30px;
}

#ride-history-wrapper {
  margin-top: 5vh;
}

.ride-history-card {
  display: flex;
  height: 120px;
  margin-top: 1vh;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}

.ride-history-card div {
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: 750;
}

.ride-history-card button {
  width: 60%;
  margin-top: 8px;
  line-height: 15px;
}
