@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

#faq-header {
  margin: 5vh auto 0 auto;
}

#faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#faq-about {
  margin-top: 5vh;
  text-align: left;
  color: green;
}
